<h2 class="big-title">Editing Book</h2>
<% if @book.errors.any? %>
 <div class="error-box">
    <p class="error-count"><%= @book.errors.count%>errors prohibited this book from being saved:</p>
      <% @book.errors.full_messages.each do |message| %>
        <ul>
            <li background-color: pink;class="error-text"><%= message %></li>
        </ul>
      <% end %>
  </div>
<% end %>
<%= form_with model:@book, local:true do |f| %>
    <p class="title">Title</p>
    <div class="text-area"><%= f.text_field :title %></div>
    <p class="title">Body</p>
    <div class="text-area"><%= f.text_area :body %></div>
    <div class="push"><%= f.submit 'Update Book' %></div>
    <span class="right-border"><%= link_to "Show", book_path(@book), class: "link-btn" %></span>
    <span >|</span>
    <span><%= link_to "Back", books_path, class: "link-btn" %></span>
<% end %>



